DASHBOARD_BASE_URL=
API_BASE_URL=
S3_BUCKET_URL=
GRAPHQL_WS_URL=

# Zitadel OIDC
ZITADEL_AUTHORITY=https://auth.tokyosushibarliege.be
ZITADEL_CLIENT_ID=

# Epson Printer Configuration
PRINTER_ENABLED=true
